@font-face {
	font-family: "OpenSans Semi Bold";
	src: url("../fonts/OpenSans-SemiBold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans Regular";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Lemon Tuesday";
	src: url("../fonts/Lemon-Tuesday.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans Italic";
	src: url("../fonts/OpenSans-Italic.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans Bold";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans Regular";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans Light";
	src: url("../fonts/OpenSans-Light.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto-Bold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "agenfb";
	src: url("../fonts/agenfb.ttf");
	font-weight: 900;
}
@font-face {
	font-family: "Blackoak Std";
	src: url("../fonts/Blackoak-Std.ttf");
	font-weight: 900;
}
