$blockTextcolor: #000;
$blockTitlecolor: #fff;

// HEADER

$headerMaincolor: #4ec83d;
$headerBurgerfont: "OpenSans Semi Bold";
$headerBurgerbtnFont: "OpenSans Regular";
$headerLogofont: "Lemon Tuesday";
$headerTitlefont: "agenfb";

// Main slider

$sliderTitelcolor: #84c604;
$sliderModefont: "OpenSans Italic";
$sliderDiscountfont: "OpenSans Bold";
$sliderDiscountcolor: #da2024;
$sliderBtncolor: #fd4f10;
$sliderBtnfont: "OpenSans Regular";
$sliderDotscolor: #1fba0a;
$sliderTitlefont: "Lemon Tuesday";
$sliderTitlecolor: #32505a;
$sliderInfofont: "OpenSans Light";
$sliderNumfont: "Roboto Bold";
$sliderArrowcolor: #808080;
$sliderDiscountcolor: #f15746;
$sliderVegcolor: #4e9b05;
$sliderAddcolor: #f2f2f2;
$newTabsfont: "OpenSans Semi Bold";
$newTabscolor: #afafaf;

// Reasons block

$reasonsTextfont: "OpenSans Regular";
$reasonsTextcolor: #4d4d4d;
$reasonsBtnfont: "OpenSans Semi Bold";
$reasonsBtncolor: #fd4f10;

// Testimonials block

$userImgcolor: #5e81a7;
$userImgfont: "OpenSans Bold";
$datefont: "OpenSans Semi Bold";
$datecolor: #a1a1a1;
$testimonialsTextfont: "OpenSans Regular";
$testimonialsIconscolor: #bacada;

// form block
$formQuefont: "OpenSans Regular";
$formTitlefont: "Lemon Tuesday";

// Company block

$companyTitlecolor: #32505a;
$companyTitlefont: "OpenSans Bold";
$companyTextfont: "OpenSans Regular";
$companyTextcolor: #4d4d4d;

// Footer block

$footerBgcolor: #1a2d34;
$footerContentFont: "OpenSans Regular";
$footerTextcolor: #6b96a5;

// Ribbon
$ribbonColor: #1fba0a;
$pizzaRibboncolor: #fd4f10;
