doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="libs/fontawesome/css/all.min.css")
		link(rel="stylesheet", href="libs/slick/css/slick.css")
		title Maket-7
	body
		include blocks/header
		include blocks/main
		include blocks/footer

		script(src='libs/slick/js/jquery-3.3.1.js')
		script(src='libs/slick/js/jquery-migrate-3.1.0.js')
		script(src='libs/slick/js/slick.min.js')
		script(src='js/script.js')
		
	