footer.footer__wrap 
	.container 
		.footer 
			.footer-accordion 
				.footer-accordion__item 
					.footer-accordion__trigger.menu меню <i class="fas fa-chevron-down"></i>
					.footer-accordion__content.desctop__links
						a.footer__link(href="#") суши
						a.footer__link(href="#") гунканы 
						a.footer__link(href="#") инары 
						a.footer__link(href="#") супы 
						a.footer__link(href="#") салаты 
						a.footer__link(href="#") горячие закуски 
						a.footer__link(href="#") десерты 
						a.footer__link(href="#") напитки
						a.footer__link(href="#") допольнительно 
				.footer-accordion__item 
					.footer-accordion__trigger сеты <i class="fas fa-chevron-down"></i>
					.footer-accordion__content
						a.footer__link(href="#") до 500 руб. 
						a.footer__link(href="#") до 1000 руб. (для двоих) 
						a.footer__link(href="#") до 1500 руб. (для двоих - троих)  
						a.footer__link(href="#") до 1500 руб. (большая компания)  
						a.footer__link(href="#") от 2000 руб. (очень большая компания)  
						a.footer__link(href="#") с угрем 
						a.footer__link(href="#") горячие 
						a.footer__link(href="#") запеченые
						a.footer__link(href="#") суши 
				.footer-accordion__item 
					.footer-accordion__trigger роллы <i class="fas fa-chevron-down"></i>
					.footer-accordion__content
						a.footer__link(href="#") традиционные/классические 
						a.footer__link(href="#") простые 
						a.footer__link(href="#") теплые  
						a.footer__link(href="#") запеченые 
						a.footer__link(href="#") вегитарианская 
				.footer-accordion__item 
					.footer-accordion__trigger вок <i class="fas fa-chevron-down"></i>
					.footer-accordion__content
						a.footer__link(href="#") яичная 
						a.footer__link(href="#") удон 
						a.footer__link(href="#") гречневая  
						a.footer__link(href="#") стеклянная 
						a.footer__link(href="#") рис 
				.footer-accordion__item 
					.footer-accordion__trigger пицца <i class="fas fa-chevron-down"></i>
					.footer-accordion__content
						a.footer__link(href="#") мясная 
						a.footer__link(href="#") рыбная 
						a.footer__link(href="#") сырная  
						a.footer__link(href="#") вегитарианская
			.footer__copr 
				.footer__socials 
					a(href="https://www.facebook.com/" ) <i class="fab fa-facebook-f"></i> 
					a(href="https://www.instagram.com/" ) <i class="fab fa-instagram"></i>
					a(href="https://www.vk.com/" ) <i class="fab fa-vk"></i> 
				.footer__text
					a.footer__btn(href="#") Соглашение на обработку персональных данных
				.footer__copy миюши &copy 2017 