header.container
	.header
		.header__menu
				<input id="burger" type="checkbox" />
				label.header__burger(for="burger")
					span
				.header__box 
					ul.header__nav
						li.header__list
							a.header__link(href="#") меню
						li.header__list
							a.header__link(href="#") акции и скидкм  
						li.header__list
							a.header__link(href="#") доставка и оплата  
						li.header__list
							a.header__link(href="#") новости  
						li.header__list
							a.header__link(href="#") контакты 
					ul.header__contacts
						li.header__contact-list
							a.header__tel(href="tel: +78003332222") +7 (800) 333 2 222
							p.header__mode работаем с 11.00 до 23.00 
						li.header__contact-list
							a.header__btn(href="#") обратный звонок 
						li.header__contact-list
							a.header__map(href="#") <i class="fas fa-map-marker-alt"></i>
							p.header__address г.Курск, ул.Ленина, д.3
						li.header__contact-list
							a.header__msg(href="#") <i class="fas fa-envelope"></i>
							p.header__mail 7808003332222@yandex.ru
		.header__logotip
			.header__logo
				a(href="#")
					img(src="images/header-logo.webp", alt="logo")
			.header__logo-text 
				p.header__title миюши
				p.header__subtitle суши и роллы 
		.header__navigation
			a.header__map(href="#") <i class="fas fa-map-marker-alt"></i>
			a.header__address(href="#")  г.Курск, ул.Ленина, д.3
		.header__navigation
			a.header__msg(href="#") <i class="fas fa-envelope"></i>
				a.header__mail(href="#") 7808003332222@yandex.ru
		.header__navigation
			a.header__tel(href="tel: +78003332222") +7 (800) 333 2 222
			p.header__mode работаем с 11.00 до 23.00
		.header__navigation
			a.header__btn(href="#") обратный звонок  	 
		.header__shop
			a.header__users(href="#") <i class="fas fa-user-friends"></i>
			a.header__shop-cart(href="#")  <i class="fas fa-shopping-cart"></i>

nav.navbar 
	.container
		.navmenu 
			ul.nav__submenu
				li.nav__submenu-list
					a.nav__submenu-link(href="#") меню <i class="fas fa-chevron-down"></i>
						ul.nav__submenu-menu 
							li 
								a.nav__submenu-link(href="#") главная
							li 
								a.nav__submenu-link(href="#") главная
							li 
								a.nav__submenu-link(href="#") главная
							li 
								a.nav__submenu-link(href="#") главная
				li.nav__submenu-list
					a.nav__submenu-link(href="#") акции и скидки  
				li.nav__submenu-list
					a.nav__submenu-link(href="#") доставка и оплата  
				li.nav__submenu-list
					a.nav__submenu-link(href="#") новости  
				li.nav__submenu-list
					a.nav__submenu-link(href="#") контакты
				li.nav__submenu-list
					a.nav__submenu-link(href="#") <i class="fas fa-user-friends"></i>кабинет
				li.nav__submenu-list
					a.nav__submenu-link(href="#") <i class="fas fa-shopping-cart"></i> корзина
		
				
