main
	section.main-slider
			.main-slider__item 
				.main-slider__image 
					img.main-slider__picture(src="images/main-slider-image.webp", alt="rolls")
				.main-slider__box
						.main-slider__texts 
							.main-slider__title счастливые часы
							.main-slider__mode с 11:00 до 16:00в будние дни
							.main-slider__button
								a.main-slider__btn(href="#") подробнее
						.main-slider__discount
							a.main-slider__skidka(href="#") скидка 15% 
			.main-slider__item 
				.main-slider__image 
					img.main-slider__picture(src="images/main-slider-image.webp", alt="rolls")
				.main-slider__box 
						.main-slider__texts 
							.main-slider__title счастливые часы
							.main-slider__mode с 11:00 до 16:00в будние дни
							.main-slider__button
								a.main-slider__btn(href="#") подробнее
						.main-slider__discount
							a.main-slider__skidka(href="#") скидка 15% 
			.main-slider__item 
				.main-slider__image 
					img.main-slider__picture(src="images/main-slider-image.webp", alt="rolls")
				.main-slider__box 
						.main-slider__texts 
							.main-slider__title счастливые часы
							.main-slider__mode с 11:00 до 16:00в будние дни
							.main-slider__button
								a.main-slider__btn(href="#") подробнее
						.main-slider__discount
							a.main-slider__skidka(href="#") скидка 15% 
	section.container
		.slider__heading
			img.set__pattern(src="images/set-slider-title-1.png", alt="title")
			p.slider__title сеты
			img.set__pattern(src="images/set-slider-title-2.png", alt="title")
		.set-slider
			.set-slider__item
				.set-slider__image
					img(src="images/set-image-1.webp", alt="set")
				.set-slider__discount.xit
						a.set-slider__skidka(href="#") хит 
				.set-slider__subtitle сет №10
				.set-slider__info 72 шт. | 1560 г. | 1700 Kkal
				.set-slider__numbers
					span.set-slider__price 2 050
						sup руб.
					span.set-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.set-slider__button 
					a.set-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.set-slider__item
				.set-slider__image
					img(src="images/set-image-2.webp", alt="set")
				.set-slider__subtitle сет №8
				.set-slider__info 24 шт. | 960 г. | 800 Kkal
				.set-slider__numbers
					span.set-slider__price 1 550
						sup руб.
					span.set-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.set-slider__button 
					a.set-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.set-slider__item
				.set-slider__image
					img(src="images/set-image-3.webp", alt="set")
				.set-slider__subtitle минисет №5
				.set-slider__info 14 шт. | 450 г. | 400 Kkal
				.set-slider__numbers
					span.set-slider__price 550
						sup руб.
					span.set-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.set-slider__button 
					a.set-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.set-slider__item
				.set-slider__image
					img(src="images/set-image-4.webp", alt="set")
				.set-slider__discount.veg
					a.set-slider__skidka(href="#") veg 
				.set-slider__subtitle сет №6
				.set-slider__info 16 шт. | 460 г. | 490 Kkal
				.set-slider__numbers
					span.set-slider__price 400
						sup руб.
					span.set-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.set-slider__button 
					a.set-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.set-slider__item
				.set-slider__image
					img(src="images/set-image-1.webp", alt="set")
				.set-slider__subtitle сет №10
				.set-slider__info 72 шт. | 1560 г. | 1700 Kkal
				.set-slider__numbers
					span.set-slider__price 2 050
						sup руб.
					span.set-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.set-slider__button 
					a.set-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
	section.container
		.slider__heading
			img.set__pattern(src="images/set-slider-title-1.png", alt="title")
			p.slider__title роллы
			img.set__pattern(src="images/set-slider-title-2.png", alt="title")
		.rolls-slider
			.rolls-slider__item
				.rolls-slider__image
					img(src="images/rolls-image-1.webp", alt="rolls")
				//- .rolls-slider__trapezium new
				.rolls-slider__subtitle кунсей батакон
				.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
				.rolls-slider__numbers
					span.rolls-slider__price 2 050
						sup руб.
					span.rolls-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.rolls-slider__button 
					a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.rolls-slider__item
				.rolls-slider__image
					img(src="images/rolls-image-2.webp", alt="rolls")
				.rolls-slider__discount.fire
					a.rolls-slider__skidka(href="#") <i class="fas fa-fire"></i> 
				.rolls-slider__subtitle кунсей батакон
				.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
				.rolls-slider__numbers
					span.rolls-slider__price 2 050
						sup руб.
					span.rolls-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.rolls-slider__button 
					a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.rolls-slider__item
				.rolls-slider__image
					img(src="images/rolls-image-3.webp", alt="rolls")
				.rolls-slider__subtitle кунсей батакон
				.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
				.rolls-slider__numbers
					span.rolls-slider__price 2 050
						sup руб.
					span.rolls-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.rolls-slider__button 
					a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.rolls-slider__item
				.rolls-slider__image
					img(src="images/rolls-image-4.webp", alt="rolls")
				.rolls-slider__subtitle кунсей батакон
				.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
				.rolls-slider__numbers
					span.rolls-slider__price 2 050
						sup руб.
					span.rolls-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.rolls-slider__button 
					a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.rolls-slider__item
				.rolls-slider__image
					img(src="images/rolls-image-2.webp", alt="rolls")
				.rolls-slider__subtitle кунсей батакон
				.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
				.rolls-slider__numbers
					span.rolls-slider__price 2 050
						sup руб.
					span.rolls-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.rolls-slider__button 
					a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
	section.container
		.slider__heading
			img.set__pattern(src="images/set-slider-title-1.png", alt="title")
			p.slider__title пицца
			img.set__pattern(src="images/set-slider-title-2.png", alt="title")
		.pizza-slider
			.pizza-slider__item
				.pizza-slider__image
					img(src="images/pizza-image-1.webp", alt="pizza")
				.pizza-slider__subtitle баварская
				.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
				.pizza-slider__numbers
					span.pizza-slider__price 480
						sup руб.
					span.pizza-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.pizza-slider__button 
					a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.pizza-slider__item
				.pizza-slider__image
					img(src="images/pizza-image-2.webp", alt="pizza")
				.pizza-slider__discount.fire
					a.pizza-slider__skidka(href="#") <i class="fas fa-fire"></i> 
				.pizza-slider__subtitle вегетарианская
				.pizza-slider__info 33 см. | 755 г. | 1800 Kkal
				.pizza-slider__numbers
					span.pizza-slider__price 380
						sup руб.
					span.pizza-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.pizza-slider__button 
					a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.pizza-slider__item
				.pizza-slider__image
					img(src="images/pizza-image-3.webp", alt="pizza")
				.pizza-slider__subtitle пеперонни
				.pizza-slider__info 33 см. | 615 г. | 1400 Kkal
				.pizza-slider__numbers
					span.pizza-slider__price 450
						sup руб.
					span.pizza-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.pizza-slider__button 
					a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.pizza-slider__item
				.pizza-slider__image
					img(src="images/pizza-image-4.webp", alt="pizza")
				.pizza-slider__subtitle классическая
				.pizza-slider__info 33 см. | 590 г. | 1490 Kkal
				.pizza-slider__numbers
					span.pizza-slider__price 390
						sup руб.
					span.pizza-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.pizza-slider__button 
					a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.pizza-slider__item
				.pizza-slider__image
					img(src="images/pizza-image-3.webp", alt="pizza")
				.pizza-slider__subtitle пеперонни
				.pizza-slider__info 33 см. | 615 г. | 1400 Kkal
				.pizza-slider__numbers
					span.pizza-slider__price 450
						sup руб.
					span.pizza-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.pizza-slider__button 
					a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
	section.container
		.slider__heading
			img.set__pattern(src="images/set-slider-title-1.png", alt="title")
			p.slider__title wok
			img.set__pattern(src="images/set-slider-title-2.png", alt="title")
		.wok-slider
			.wok-slider__item
				.wok-slider__image
					img(src="images/wok-image-1.webp", alt="wok")
				.wok-slider__discount.xit
						a.wok-slider__skidka(href="#") хит 
				.wok-slider__subtitle с говядиной
				.wok-slider__info 400 г. | 1350 Kkal
				.wok-slider__adding
					span.wok-slider__add добавить: 
					span.wok-slider__add-plus +2 <i class="fas fa-times"></i> 
					span.wok-slider__add-price 140
						sup руб.
					<i class="fas fa-plus-square"></i>
				select.wok-slider__select(name="type")  
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
				.wok-slider__numbers
					span.wok-slider__price 290
						sup руб.
					span.wok-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.wok-slider__button 
					a.wok-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.wok-slider__item
				.wok-slider__image
					img(src="images/wok-image-2.webp", alt="wok")
				.wok-slider__discount.xit
						a.wok-slider__skidka(href="#") хит  
				.wok-slider__subtitle с говядиной
				.wok-slider__info 400 г. | 1350 Kkal
				.wok-slider__adding
					span.wok-slider__add добавить: 
					span.wok-slider__add-plus +2 <i class="fas fa-times"></i> 
					span.wok-slider__add-price 140
						sup руб.
					<i class="fas fa-plus-square"></i>
				select.wok-slider__select(name="type")  
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
				.wok-slider__numbers
					span.wok-slider__price 290
						sup руб.
					span.wok-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.wok-slider__button 
					a.wok-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.wok-slider__item
				.wok-slider__image
					img(src="images/wok-image-3.webp", alt="wok")
				//- .wok-slider__discount.xit
				//- 		a.wok-slider__skidka(href="#") хит 
				.wok-slider__subtitle с говядиной
				.wok-slider__info 400 г. | 1350 Kkal
				.wok-slider__adding
					span.wok-slider__add добавить: 
					span.wok-slider__add-plus +2 <i class="fas fa-times"></i> 
					span.wok-slider__add-price 140
						sup руб.
					<i class="fas fa-plus-square"></i>
				select.wok-slider__select(name="type")  
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
				.wok-slider__numbers
					span.wok-slider__price 290
						sup руб.
					span.wok-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.wok-slider__button 
					a.wok-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.wok-slider__item
				.wok-slider__image
					img(src="images/wok-image-4.webp", alt="wok")
				.wok-slider__subtitle с говядиной
				.wok-slider__info 400 г. | 1350 Kkal
				.wok-slider__adding
					span.wok-slider__add добавить: 
					span.wok-slider__add-plus +2 <i class="fas fa-times"></i> 
					span.wok-slider__add-price 140
						sup руб.
					<i class="fas fa-plus-square"></i>
				select.wok-slider__select(name="type")  
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
				.wok-slider__numbers
					span.wok-slider__price 290
						sup руб.
					span.wok-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.wok-slider__button 
					a.wok-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
			.wok-slider__item
				.wok-slider__image
					img(src="images/wok-image-4.webp", alt="wok")
				.wok-slider__subtitle с говядиной
				.wok-slider__info 400 г. | 1350 Kkal
				.wok-slider__adding
					span.wok-slider__add добавить: 
					span.wok-slider__add-plus +2 <i class="fas fa-times"></i> 
					span.wok-slider__add-price 140
						sup руб.
					<i class="fas fa-plus-square"></i>
				select.wok-slider__select(name="type")  
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
					<option value="classic">Классический соус</option>
				.wok-slider__numbers
					span.wok-slider__price 290
						sup руб.
					span.wok-slider__num
						<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
				.wok-slider__button 
					a.wok-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
	section.new-wrap
		.container
			.tabs
				.tabs-triggers 
					a.tabs-triggers__item(href="#tab-1") новинки
					a.tabs-triggers__item(href="#tab-2") акции
				.tabs-content 
					#tab-1.tabs-content__item
						.rolls-slider
							.rolls-slider__item
								.rolls-slider__image
									img(src="images/rolls-image-1.webp", alt="rolls")
								.rolls-slider__ribbon new
								.rolls-slider__subtitle кунсей батакон
								.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
								.rolls-slider__numbers
									span.rolls-slider__price 2 050
										sup руб.
									span.rolls-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.rolls-slider__button 
									a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.rolls-slider__item
									.rolls-slider__image
										img(src="images/rolls-image-2.webp", alt="rolls")
									.rolls-slider__ribbon new
									.rolls-slider__discount.fire
										a.rolls-slider__skidka(href="#") <i class="fas fa-fire"></i> 
									.rolls-slider__subtitle кунсей батакон
									.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
									.rolls-slider__numbers
										span.rolls-slider__price 2 050
											sup руб.
										span.rolls-slider__num
											<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
									.rolls-slider__button 
										a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.rolls-slider__item
								.rolls-slider__image
									img(src="images/rolls-image-3.webp", alt="rolls")
								.rolls-slider__ribbon new
								.rolls-slider__subtitle кунсей батакон
								.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
								.rolls-slider__numbers
									span.rolls-slider__price 2 050
										sup руб.
									span.rolls-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.rolls-slider__button 
									a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.rolls-slider__item
								.rolls-slider__image
									img(src="images/rolls-image-4.webp", alt="rolls")
								.rolls-slider__ribbon new
								.rolls-slider__subtitle кунсей батакон
								.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
								.rolls-slider__numbers
									span.rolls-slider__price 2 050
										sup руб.
									span.rolls-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.rolls-slider__button 
									a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.rolls-slider__item
								.rolls-slider__image
									img(src="images/rolls-image-3.webp", alt="rolls")
								.rolls-slider__ribbon new
								.rolls-slider__subtitle кунсей батакон
								.rolls-slider__info 8 шт. | 250 г. | 350 Kkal
								.rolls-slider__numbers
									span.rolls-slider__price 2 050
										sup руб.
									span.rolls-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.rolls-slider__button 
									a.rolls-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
					#tab-2.tabs-content__item 
						.pizza-slider
							.pizza-slider__item
								.pizza-slider__image
									img(src="images/pizza-image-1.webp", alt="pizza")
								.pizza-slider__ribbon sale
								.pizza-slider__subtitle баварская
								.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
								.pizza-slider__numbers
									span.pizza-slider__price 480
										sup руб.
									span.pizza-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.pizza-slider__button 
									a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.pizza-slider__item
								.pizza-slider__image
									img(src="images/pizza-image-2.webp", alt="pizza")
								.pizza-slider__ribbon sale
								.pizza-slider__discount.fire
										a.pizza-slider__skidka(href="#") <i class="fas fa-fire"></i> 
								.pizza-slider__subtitle баварская
								.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
								.pizza-slider__numbers
									span.pizza-slider__price 480
										sup руб.
									span.pizza-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.pizza-slider__button 
									a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.pizza-slider__item
								.pizza-slider__image
									img(src="images/pizza-image-3.webp", alt="pizza")
								.pizza-slider__ribbon sale
								.pizza-slider__subtitle баварская
								.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
								.pizza-slider__numbers
									span.pizza-slider__price 480
										sup руб.
									span.pizza-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.pizza-slider__button 
									a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.pizza-slider__item
								.pizza-slider__image
									img(src="images/pizza-image-4.webp", alt="pizza")
								.pizza-slider__ribbon sale
								.pizza-slider__ribbon sale
								.pizza-slider__subtitle баварская
								.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
								.pizza-slider__numbers
									span.pizza-slider__price 480
										sup руб.
									span.pizza-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.pizza-slider__button 
									a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
							.pizza-slider__item
								.pizza-slider__image
									img(src="images/pizza-image-1.webp", alt="pizza")
									
								.pizza-slider__subtitle баварская
								.pizza-slider__info 33 см. | 680 г. | 1350 Kkal
								.pizza-slider__numbers
									span.pizza-slider__price 480
										sup руб.
									span.pizza-slider__num
										<i class="fas fa-minus"></i> 1<i class="fas fa-plus"></i>
								.pizza-slider__button 
									a.pizza-slider__btn(href="#") в корзину <i class="fas fa-shopping-cart"></i>
	section.container
		.reasons
			.slider__heading
				img.set__pattern(src="images/set-slider-title-1.png", alt="title")
				p.slider__title 10 причин купить у нас
				img.set__pattern(src="images/set-slider-title-2.png", alt="title")
			.reasons__content
				.reasons__item
					.reasons__image 
						img(src="images/otziv-image-1.png", alt="otziv")
					.reasons__text 100% ручная работа
				.reasons__item
					.reasons__image 
						img(src="images/otziv-image-2.png", alt="otziv")
					.reasons__text 100% свежие ингредиенты
				.reasons__item
					.reasons__image 
						img(src="images/otziv-image-4.png", alt="otziv")
					.reasons__text Мы используем только дорогой рис из Японии
				.reasons__item
						.reasons__image 
							img(src="images/otziv-image-7.png", alt="otziv")
						.reasons__text Вся пицца готовится из итальянской муки и Итальянского соуса
				.reasons__item
						.reasons__image 
							img(src="images/otziv-image-3.png", alt="otziv")
						.reasons__text Самые низкие цены на рынке! (Нет ресторанной наценки)
				#more 
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-7.png", alt="otziv")
						.reasons__text Вся пицца готовится из итальянской муки и Итальянского соуса
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-3.png", alt="otziv")
						.reasons__text Самые низкие цены на рынке! (Нет ресторанной наценки)
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-8.png", alt="otziv")
						.reasons__text Постоянный контроль качества на всех этапах
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-9.png", alt="otziv")
						.reasons__text Только охлажденная рыба (никакой заморозки)
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-5.png", alt="otziv")
						.reasons__text Больше начинки, меньше риса!
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-6.png", alt="otziv")
						.reasons__text Мы не заменяем авокадо огурцом!
					.reasons__item
						.reasons__image 
							img(src="images/otziv-image-10.png", alt="otziv")
						.reasons__text Мы не используем майонез!
				button(id="btn" class="reasons__button" onclick="readMore()") подробнее		
	section.container 
			.slider__heading
				img.set__pattern(src="images/set-slider-title-1.png", alt="title")
				p.slider__title отзывы
				img.set__pattern(src="images/set-slider-title-2.png", alt="title")
			.testimonials 
				.testimonials__item 
					.testimonials__user 
						.testimonials__image 
							img(src="images/testimonials-image-1.png", alt="userpic")
						.testimonials__namedate
							p.testimonials__name надежда наширбанова
							<time datetime="2017-08-05 09:58">5 авг 2017 в 9:58</time>
					.testimonials__text Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
					.testimonials__picture 
						img(src="images/testimonials-image-2.png", alt="user")
					.testimonials__icons 
						<i id="btn1" onClick="Toggle1()" class="fas fa-heart"></i>
						<i class="fas fa-comment-alt"></i>
						span 2
						<i class="fas fa-bullhorn"></i>
					.testimonials__button
						a.testimonials__btn(href="https://www.vk.com/") <i class="fab fa-vk"></i> подписаться
				.testimonials__item 
					.testimonials__user 
						.testimonials__image 
							img(src="images/testimonials-image-1.png", alt="userpic")
						.testimonials__namedate
							p.testimonials__name надежда наширбанова
							<time datetime="2017-08-05 09:58">5 авг 2017 в 9:58</time>
					.testimonials__text Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
					.testimonials__picture 
						img(src="images/testimonials-image-2.png", alt="user")
					.testimonials__icons 
						<i id="btn2" onClick="Toggle2()" class="fas fa-heart"></i>
						<i class="fas fa-comment-alt"></i>
						span 2
						<i class="fas fa-bullhorn"></i>
					.testimonials__button
						a.testimonials__btn(href="https://www.vk.com/") <i class="fab fa-vk"></i> подписаться
				.testimonials__item 
					.testimonials__user 
						.testimonials__image 
							img(src="images/testimonials-image-1.png", alt="userpic")
						.testimonials__namedate
							p.testimonials__name надежда наширбанова
							<time datetime="2017-08-05 09:58">5 авг 2017 в 9:58</time>
					.testimonials__text Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
					.testimonials__picture 
						img(src="images/testimonials-image-2.png", alt="user")
					.testimonials__icons 
						<i id="btn3" onClick="Toggle3()" class="fas fa-heart"></i>
						<i class="fas fa-comment-alt"></i>
						span 2
						<i class="fas fa-bullhorn"></i>
					.testimonials__button
						a.testimonials__btn(href="https://www.vk.com/") <i class="fab fa-vk"></i> подписаться
	section.form
		.form__image 
			img(src="images/form-bg-image.webp", alt="form")
		.container
			.form__box
				.form__question Есть вопросы?
				.form__title Оставьте свои контакты
				.form__reg
					input(type="text" class="form__name" placeholder="Серге")
					input(type="text" class="form__phone" placeholder="Телефон")
					.form__button
						a.form__btn(href="#")  отправить
				.form__text Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.
	section.company 
		.container 
			.slider__heading
				img.set__pattern(src="images/set-slider-title-1.png", alt="title")
				p.slider__title о компании
				img.set__pattern(src="images/set-slider-title-2.png", alt="title")
			.company__block 
				.company__content 
					.company__title Заказ и доставка роллов, пиццы и WOK(Вок) в городе Курск
					.company__article 
						.company__item
							.company__text Суши МИЮШИ открылись в октябре 2012г. и уже завоевали успех у тех, кто ценит японскую кухню и качественное приготовление блюд. 
							p.company__text С 2013 года мы осуществляем не только доставку на дом, теперь для вас открыт наш уютный небольшой зал. Придя сюда, вы сможете плотно пообедать, насладиться прекрасными напитками, посидеть с друзьями или обзавестись новыми знакомствами. 
							p.company__text Открывая зал, Мы преследовали цель предоставить своим посетителям максимум удобства и комфорта, поэтому, придя сюда в первый раз, вы почувствуете себя как рыба в воде, окунувшись в домашнюю и теплую обстановку! 
							p.company__text.mobile Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только по г. Курске. Четкая и слаженная работа курьеров позволяет максимально сократить время от приготовления блюда до его попадания на стол заказчику. Как правило, оно составляет от 20 до 60 минут в зависимости от местонахождения клиента. Операторы службы доставки всегда осведомлены обо всех изменениях времени доставки и предупреждают клиентов заранее, а при возможных серьезных задержках в связи с дорожной ситуацией предложат Вам альтернативу. Мы беремся только за ту работу, которую можем выполнить в срок.					
						.company__picture 
							img(src="images/company-image.webp", alt="#")
						#show.company__item
							p.company__text Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только по г. Курске. Четкая и слаженная работа курьеров позволяет максимально сократить время от приготовления блюда до его попадания на стол заказчику. Как правило, оно составляет от 20 до 60 минут в зависимости от местонахождения клиента. Операторы службы доставки всегда осведомлены обо всех изменениях времени доставки и предупреждают клиентов заранее, а при возможных серьезных задержках в связи с дорожной ситуацией предложат Вам альтернативу. Мы беремся только за ту работу, которую можем выполнить в срок.					
							p.company__text В меню суши МИЮШИ представлено все многообразие японской кухни. Классические суши, и роллы приготовлены в соответствии с традиционными рецептами. Для любителей нежных и тающих во рту блюд предлагаются роллы с мясом краба, а также для больших любителей копченого угря потрясающий ролл Дракон. Для желающих пробовать что-то новое и необычное – острые ГУНКАНЫ и новинка нашего меню - ИНАРИ, широкий выбор горячих роллов. Большим компаниям будет удобно заказать суши и роллы, объединенные в сеты, включающие сразу несколько видов каждого из этих блюд. Кроме того, меню суши МИЮШИ не ограничено только японской кухней, здесь всегда можно заказать горячие и холодные блюда ЛАПША или РИС WOK с различными мясными и рыбными наполнителями, салаты, горячие закуски и различные напитки.
							p.company__text Оформив у нас заказ суши на дом, клиент может выбрать удобный ему способ оплаты: наличными при получении заказа или банковской картой VISA, MasterCard при заполнении специальной формы заказа на сайте или на дому через переносной терминал (заранее сообщив оператору о форме оплаты).
							p.company__text Информацию по стоимости доставки и минимальной суммы заказа в отдаленные районы г. Мытищ можно уточнить у оператора по телефону.
					button(id="btn5" class="company__button" onclick="showMore()") показать ещё	
				.company__image 
						img(src="images/company-image.webp", alt="#")
		
		
		

								

	
		
		
		
			
			
					
			